<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.supplier.infrastructure.persistence.mapper.VendorInvoiceProfileMapper">

    <sql id="BaseColumns">
        id, corpid, vendor_id, invoice_title, tax_no, registered_address, registered_phone, bank_name, bank_account_no, default_flag, biz_status, creator_id, modify_id, del, add_time, update_time, version
    </sql>

    <sql id="BaseCondition">
        corpid = #{conditionMap.corpid}
        and del = 0
        <if test="conditionMap.id != null">
            and id = #{conditionMap.id}
        </if>
        <if test="conditionMap.vendorId != null">
            and vendor_id = #{conditionMap.vendorId}
        </if>
        <if test="conditionMap.taxNo != null and conditionMap.taxNo != ''">
            and tax_no = #{conditionMap.taxNo}
        </if>
        <if test="conditionMap.defaultFlag != null">
            and default_flag = #{conditionMap.defaultFlag}
        </if>
        <if test="conditionMap.bizStatus != null and conditionMap.bizStatus != ''">
            and biz_status = #{conditionMap.bizStatus}
        </if>
    </sql>

    <sql id="QueryTail">
        <if test="conditionMap.groupByStr != null and conditionMap.groupByStr != ''">
            group by ${conditionMap.groupByStr}
        </if>
        <if test="conditionMap.orderByStr != null and conditionMap.orderByStr != ''">
            order by ${conditionMap.orderByStr}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset != null">
            limit #{conditionMap.offset}, #{conditionMap.pageSize}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset == null">
            limit #{conditionMap.pageSize}
        </if>
    </sql>

    <insert id="insertBatch">
        insert into vendor_invoice_profile (
            id, corpid, vendor_id, invoice_title, tax_no, registered_address, registered_phone, bank_name, bank_account_no, default_flag, biz_status, creator_id, modify_id, del, add_time, update_time, version
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.corpid}, #{item.vendorId}, #{item.invoiceTitle}, #{item.taxNo}, #{item.registeredAddress}, #{item.registeredPhone}, #{item.bankName}, #{item.bankAccountNo}, #{item.defaultFlag}, #{item.bizStatus}, #{item.creatorId}, #{item.modifyId}, #{item.deleted}, #{item.addTime}, #{item.updateTime}, #{item.version})
        </foreach>
    </insert>

    <update id="removeById">
        update vendor_invoice_profile
        set del = 1
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <update id="removeBatchByIds">
        update vendor_invoice_profile
        set del = 1
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="xbb.ai.erp.module.supplier.infrastructure.persistence.po.VendorInvoiceProfilePO">
        update vendor_invoice_profile
        <set>
            <if test="corpid != null">corpid = #{corpid},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="invoiceTitle != null">invoice_title = #{invoiceTitle},</if>
            <if test="taxNo != null">tax_no = #{taxNo},</if>
            <if test="registeredAddress != null">registered_address = #{registeredAddress},</if>
            <if test="registeredPhone != null">registered_phone = #{registeredPhone},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="bankAccountNo != null">bank_account_no = #{bankAccountNo},</if>
            <if test="defaultFlag != null">default_flag = #{defaultFlag},</if>
            <if test="bizStatus != null">biz_status = #{bizStatus},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
            <if test="deleted != null">del = #{deleted},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
        </set>
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <select id="findById" resultType="xbb.ai.erp.module.supplier.infrastructure.persistence.po.VendorInvoiceProfilePO">
        select <include refid="BaseColumns"/>
        from vendor_invoice_profile
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </select>

    <select id="findByCondition" resultType="xbb.ai.erp.module.supplier.infrastructure.persistence.po.VendorInvoiceProfilePO">
        select <include refid="BaseColumns"/>
        from vendor_invoice_profile
        where <include refid="BaseCondition"/>
        <include refid="QueryTail"/>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from vendor_invoice_profile
        where <include refid="BaseCondition"/>
    </select>
</mapper>
