<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.purchase.infrastructure.persistence.mapper.PurchasePendingTaskMapper">

    <sql id="BaseColumns">
        id, corpid, purchase_org_id, task_no, source_type, source_doc_id, source_line_id, source_doc_no, sku_id, sku_code_snapshot, sku_name_snapshot, need_qty, occupied_qty, generated_request_qty, generated_order_qty, closed_qty, suggested_vendor_id, suggested_delivery_date, priority_level, task_status, sales_linked_flag, version, del, add_time, update_time, creator_id, modify_id
    </sql>

    <sql id="BaseCondition">
        corpid = #{conditionMap.corpid}
        and del = 0
        <if test="conditionMap.id != null">
            and id = #{conditionMap.id}
        </if>
        <if test="conditionMap.purchaseOrgId != null">
            and purchase_org_id = #{conditionMap.purchaseOrgId}
        </if>
        <if test="conditionMap.taskNo != null and conditionMap.taskNo != ''">
            and task_no = #{conditionMap.taskNo}
        </if>
        <if test="conditionMap.sourceType != null and conditionMap.sourceType != ''">
            and source_type = #{conditionMap.sourceType}
        </if>
        <if test="conditionMap.sourceDocId != null">
            and source_doc_id = #{conditionMap.sourceDocId}
        </if>
        <if test="conditionMap.sourceLineId != null">
            and source_line_id = #{conditionMap.sourceLineId}
        </if>
        <if test="conditionMap.sourceDocNo != null and conditionMap.sourceDocNo != ''">
            and source_doc_no = #{conditionMap.sourceDocNo}
        </if>
        <if test="conditionMap.skuId != null">
            and sku_id = #{conditionMap.skuId}
        </if>
        <if test="conditionMap.skuCodeSnapshot != null and conditionMap.skuCodeSnapshot != ''">
            and sku_code_snapshot = #{conditionMap.skuCodeSnapshot}
        </if>
        <if test="conditionMap.skuNameSnapshot != null and conditionMap.skuNameSnapshot != ''">
            and sku_name_snapshot = #{conditionMap.skuNameSnapshot}
        </if>
        <if test="conditionMap.suggestedVendorId != null">
            and suggested_vendor_id = #{conditionMap.suggestedVendorId}
        </if>
        <if test="conditionMap.suggestedDeliveryDate != null">
            and suggested_delivery_date = #{conditionMap.suggestedDeliveryDate}
        </if>
        <if test="conditionMap.priorityLevel != null">
            and priority_level = #{conditionMap.priorityLevel}
        </if>
        <if test="conditionMap.taskStatus != null and conditionMap.taskStatus != ''">
            and task_status = #{conditionMap.taskStatus}
        </if>
        <if test="conditionMap.salesLinkedFlag != null">
            and sales_linked_flag = #{conditionMap.salesLinkedFlag}
        </if>
    </sql>

    <sql id="QueryTail">
        <if test="conditionMap.groupByStr != null and conditionMap.groupByStr != ''">
            group by ${conditionMap.groupByStr}
        </if>
        <if test="conditionMap.orderByStr != null and conditionMap.orderByStr != ''">
            order by ${conditionMap.orderByStr}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset != null">
            limit #{conditionMap.offset}, #{conditionMap.pageSize}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset == null">
            limit #{conditionMap.pageSize}
        </if>
    </sql>

    <insert id="insertBatch">
        insert into purchase_pending_task (
            id, corpid, purchase_org_id, task_no, source_type, source_doc_id, source_line_id, source_doc_no, sku_id, sku_code_snapshot, sku_name_snapshot, need_qty, occupied_qty, generated_request_qty, generated_order_qty, closed_qty, suggested_vendor_id, suggested_delivery_date, priority_level, task_status, sales_linked_flag, version, del, add_time, update_time, creator_id, modify_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.corpid}, #{item.purchaseOrgId}, #{item.taskNo}, #{item.sourceType}, #{item.sourceDocId}, #{item.sourceLineId}, #{item.sourceDocNo}, #{item.skuId}, #{item.skuCodeSnapshot}, #{item.skuNameSnapshot}, #{item.needQty}, #{item.occupiedQty}, #{item.generatedRequestQty}, #{item.generatedOrderQty}, #{item.closedQty}, #{item.suggestedVendorId}, #{item.suggestedDeliveryDate}, #{item.priorityLevel}, #{item.taskStatus}, #{item.salesLinkedFlag}, #{item.version}, #{item.deleted}, #{item.addTime}, #{item.updateTime}, #{item.creatorId}, #{item.modifyId})
        </foreach>
    </insert>

    <update id="removeById">
        update purchase_pending_task
        set del = 1
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <update id="removeBatchByIds">
        update purchase_pending_task
        set del = 1
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchasePendingTaskPO">
        update purchase_pending_task
        <set>
            <if test="corpid != null">corpid = #{corpid},</if>
            <if test="purchaseOrgId != null">purchase_org_id = #{purchaseOrgId},</if>
            <if test="taskNo != null">task_no = #{taskNo},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="sourceDocId != null">source_doc_id = #{sourceDocId},</if>
            <if test="sourceLineId != null">source_line_id = #{sourceLineId},</if>
            <if test="sourceDocNo != null">source_doc_no = #{sourceDocNo},</if>
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="skuCodeSnapshot != null">sku_code_snapshot = #{skuCodeSnapshot},</if>
            <if test="skuNameSnapshot != null">sku_name_snapshot = #{skuNameSnapshot},</if>
            <if test="needQty != null">need_qty = #{needQty},</if>
            <if test="occupiedQty != null">occupied_qty = #{occupiedQty},</if>
            <if test="generatedRequestQty != null">generated_request_qty = #{generatedRequestQty},</if>
            <if test="generatedOrderQty != null">generated_order_qty = #{generatedOrderQty},</if>
            <if test="closedQty != null">closed_qty = #{closedQty},</if>
            <if test="suggestedVendorId != null">suggested_vendor_id = #{suggestedVendorId},</if>
            <if test="suggestedDeliveryDate != null">suggested_delivery_date = #{suggestedDeliveryDate},</if>
            <if test="priorityLevel != null">priority_level = #{priorityLevel},</if>
            <if test="taskStatus != null">task_status = #{taskStatus},</if>
            <if test="salesLinkedFlag != null">sales_linked_flag = #{salesLinkedFlag},</if>
            <if test="version != null">version = #{version},</if>
            <if test="deleted != null">del = #{deleted},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
        </set>
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <select id="findById" resultType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchasePendingTaskPO">
        select <include refid="BaseColumns"/>
        from purchase_pending_task
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </select>

    <select id="findByCondition" resultType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchasePendingTaskPO">
        select <include refid="BaseColumns"/>
        from purchase_pending_task
        where <include refid="BaseCondition"/>
        <include refid="QueryTail"/>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from purchase_pending_task
        where <include refid="BaseCondition"/>
    </select>
</mapper>
