<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.purchase.infrastructure.persistence.mapper.PurchaseOrderItemMapper">

    <sql id="BaseColumns">
        id, corpid, order_id, line_no, sku_id, sku_code_snapshot, sku_name_snapshot, spec_snapshot, purchase_unit_id, warehouse_id, order_qty, received_qty, inbounded_qty, closed_qty, returned_qty, gross_price, net_price, tax_rate, tax_amount, gross_amount, net_amount, payable_amount, paid_amount, invoiced_amount, is_gift, delivery_plan_snapshot, version, del, add_time, update_time, creator_id, modify_id
    </sql>

    <sql id="BaseCondition">
        corpid = #{conditionMap.corpid}
        and del = 0
        <if test="conditionMap.id != null">
            and id = #{conditionMap.id}
        </if>
        <if test="conditionMap.orderId != null">
            and order_id = #{conditionMap.orderId}
        </if>
        <if test="conditionMap.lineNo != null">
            and line_no = #{conditionMap.lineNo}
        </if>
        <if test="conditionMap.skuId != null">
            and sku_id = #{conditionMap.skuId}
        </if>
        <if test="conditionMap.skuCodeSnapshot != null and conditionMap.skuCodeSnapshot != ''">
            and sku_code_snapshot = #{conditionMap.skuCodeSnapshot}
        </if>
        <if test="conditionMap.skuNameSnapshot != null and conditionMap.skuNameSnapshot != ''">
            and sku_name_snapshot = #{conditionMap.skuNameSnapshot}
        </if>
        <if test="conditionMap.purchaseUnitId != null">
            and purchase_unit_id = #{conditionMap.purchaseUnitId}
        </if>
        <if test="conditionMap.warehouseId != null">
            and warehouse_id = #{conditionMap.warehouseId}
        </if>
        <if test="conditionMap.isGift != null">
            and is_gift = #{conditionMap.isGift}
        </if>
    </sql>

    <sql id="QueryTail">
        <if test="conditionMap.groupByStr != null and conditionMap.groupByStr != ''">
            group by ${conditionMap.groupByStr}
        </if>
        <if test="conditionMap.orderByStr != null and conditionMap.orderByStr != ''">
            order by ${conditionMap.orderByStr}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset != null">
            limit #{conditionMap.offset}, #{conditionMap.pageSize}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset == null">
            limit #{conditionMap.pageSize}
        </if>
    </sql>

    <insert id="insertBatch">
        insert into purchase_order_item (
            id, corpid, order_id, line_no, sku_id, sku_code_snapshot, sku_name_snapshot, spec_snapshot, purchase_unit_id, warehouse_id, order_qty, received_qty, inbounded_qty, closed_qty, returned_qty, gross_price, net_price, tax_rate, tax_amount, gross_amount, net_amount, payable_amount, paid_amount, invoiced_amount, is_gift, delivery_plan_snapshot, version, del, add_time, update_time, creator_id, modify_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.corpid}, #{item.orderId}, #{item.lineNo}, #{item.skuId}, #{item.skuCodeSnapshot}, #{item.skuNameSnapshot}, #{item.specSnapshot}, #{item.purchaseUnitId}, #{item.warehouseId}, #{item.orderQty}, #{item.receivedQty}, #{item.inboundedQty}, #{item.closedQty}, #{item.returnedQty}, #{item.grossPrice}, #{item.netPrice}, #{item.taxRate}, #{item.taxAmount}, #{item.grossAmount}, #{item.netAmount}, #{item.payableAmount}, #{item.paidAmount}, #{item.invoicedAmount}, #{item.isGift}, #{item.deliveryPlanSnapshot}, #{item.version}, #{item.deleted}, #{item.addTime}, #{item.updateTime}, #{item.creatorId}, #{item.modifyId})
        </foreach>
    </insert>

    <update id="removeById">
        update purchase_order_item
        set del = 1
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <update id="removeBatchByIds">
        update purchase_order_item
        set del = 1
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchaseOrderItemPO">
        update purchase_order_item
        <set>
            <if test="corpid != null">corpid = #{corpid},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="lineNo != null">line_no = #{lineNo},</if>
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="skuCodeSnapshot != null">sku_code_snapshot = #{skuCodeSnapshot},</if>
            <if test="skuNameSnapshot != null">sku_name_snapshot = #{skuNameSnapshot},</if>
            <if test="specSnapshot != null">spec_snapshot = #{specSnapshot},</if>
            <if test="purchaseUnitId != null">purchase_unit_id = #{purchaseUnitId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="orderQty != null">order_qty = #{orderQty},</if>
            <if test="receivedQty != null">received_qty = #{receivedQty},</if>
            <if test="inboundedQty != null">inbounded_qty = #{inboundedQty},</if>
            <if test="closedQty != null">closed_qty = #{closedQty},</if>
            <if test="returnedQty != null">returned_qty = #{returnedQty},</if>
            <if test="grossPrice != null">gross_price = #{grossPrice},</if>
            <if test="netPrice != null">net_price = #{netPrice},</if>
            <if test="taxRate != null">tax_rate = #{taxRate},</if>
            <if test="taxAmount != null">tax_amount = #{taxAmount},</if>
            <if test="grossAmount != null">gross_amount = #{grossAmount},</if>
            <if test="netAmount != null">net_amount = #{netAmount},</if>
            <if test="payableAmount != null">payable_amount = #{payableAmount},</if>
            <if test="paidAmount != null">paid_amount = #{paidAmount},</if>
            <if test="invoicedAmount != null">invoiced_amount = #{invoicedAmount},</if>
            <if test="isGift != null">is_gift = #{isGift},</if>
            <if test="deliveryPlanSnapshot != null">delivery_plan_snapshot = #{deliveryPlanSnapshot},</if>
            <if test="version != null">version = #{version},</if>
            <if test="deleted != null">del = #{deleted},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
        </set>
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <select id="findById" resultType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchaseOrderItemPO">
        select <include refid="BaseColumns"/>
        from purchase_order_item
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </select>

    <select id="findByCondition" resultType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchaseOrderItemPO">
        select <include refid="BaseColumns"/>
        from purchase_order_item
        where <include refid="BaseCondition"/>
        <include refid="QueryTail"/>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from purchase_order_item
        where <include refid="BaseCondition"/>
    </select>
</mapper>
