<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.purchase.infrastructure.persistence.mapper.PurchaseSourceRelationMapper">

    <sql id="BaseColumns">
        id, corpid, source_doc_type, source_doc_id, source_line_id, target_doc_type, target_doc_id, target_line_id, source_qty, reserved_qty, executed_qty, closed_qty, reversed_qty, relation_status, version, del, add_time, update_time, creator_id, modify_id
    </sql>

    <sql id="BaseCondition">
        corpid = #{conditionMap.corpid}
        and del = 0
        <if test="conditionMap.id != null">
            and id = #{conditionMap.id}
        </if>
        <if test="conditionMap.sourceDocType != null and conditionMap.sourceDocType != ''">
            and source_doc_type = #{conditionMap.sourceDocType}
        </if>
        <if test="conditionMap.sourceDocId != null">
            and source_doc_id = #{conditionMap.sourceDocId}
        </if>
        <if test="conditionMap.sourceLineId != null">
            and source_line_id = #{conditionMap.sourceLineId}
        </if>
        <if test="conditionMap.targetDocType != null and conditionMap.targetDocType != ''">
            and target_doc_type = #{conditionMap.targetDocType}
        </if>
        <if test="conditionMap.targetDocId != null">
            and target_doc_id = #{conditionMap.targetDocId}
        </if>
        <if test="conditionMap.targetLineId != null">
            and target_line_id = #{conditionMap.targetLineId}
        </if>
        <if test="conditionMap.relationStatus != null and conditionMap.relationStatus != ''">
            and relation_status = #{conditionMap.relationStatus}
        </if>
    </sql>

    <sql id="QueryTail">
        <if test="conditionMap.groupByStr != null and conditionMap.groupByStr != ''">
            group by ${conditionMap.groupByStr}
        </if>
        <if test="conditionMap.orderByStr != null and conditionMap.orderByStr != ''">
            order by ${conditionMap.orderByStr}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset != null">
            limit #{conditionMap.offset}, #{conditionMap.pageSize}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset == null">
            limit #{conditionMap.pageSize}
        </if>
    </sql>

    <insert id="insertBatch">
        insert into purchase_source_relation (
            id, corpid, source_doc_type, source_doc_id, source_line_id, target_doc_type, target_doc_id, target_line_id, source_qty, reserved_qty, executed_qty, closed_qty, reversed_qty, relation_status, version, del, add_time, update_time, creator_id, modify_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.corpid}, #{item.sourceDocType}, #{item.sourceDocId}, #{item.sourceLineId}, #{item.targetDocType}, #{item.targetDocId}, #{item.targetLineId}, #{item.sourceQty}, #{item.reservedQty}, #{item.executedQty}, #{item.closedQty}, #{item.reversedQty}, #{item.relationStatus}, #{item.version}, #{item.deleted}, #{item.addTime}, #{item.updateTime}, #{item.creatorId}, #{item.modifyId})
        </foreach>
    </insert>

    <update id="removeById">
        update purchase_source_relation
        set del = 1
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <update id="removeBatchByIds">
        update purchase_source_relation
        set del = 1
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchaseSourceRelationPO">
        update purchase_source_relation
        <set>
            <if test="corpid != null">corpid = #{corpid},</if>
            <if test="sourceDocType != null">source_doc_type = #{sourceDocType},</if>
            <if test="sourceDocId != null">source_doc_id = #{sourceDocId},</if>
            <if test="sourceLineId != null">source_line_id = #{sourceLineId},</if>
            <if test="targetDocType != null">target_doc_type = #{targetDocType},</if>
            <if test="targetDocId != null">target_doc_id = #{targetDocId},</if>
            <if test="targetLineId != null">target_line_id = #{targetLineId},</if>
            <if test="sourceQty != null">source_qty = #{sourceQty},</if>
            <if test="reservedQty != null">reserved_qty = #{reservedQty},</if>
            <if test="executedQty != null">executed_qty = #{executedQty},</if>
            <if test="closedQty != null">closed_qty = #{closedQty},</if>
            <if test="reversedQty != null">reversed_qty = #{reversedQty},</if>
            <if test="relationStatus != null">relation_status = #{relationStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="deleted != null">del = #{deleted},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
        </set>
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <select id="findById" resultType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchaseSourceRelationPO">
        select <include refid="BaseColumns"/>
        from purchase_source_relation
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </select>

    <select id="findByCondition" resultType="xbb.ai.erp.module.purchase.infrastructure.persistence.po.PurchaseSourceRelationPO">
        select <include refid="BaseColumns"/>
        from purchase_source_relation
        where <include refid="BaseCondition"/>
        <include refid="QueryTail"/>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from purchase_source_relation
        where <include refid="BaseCondition"/>
    </select>
</mapper>
