<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.demo.infrastructure.persistence.mapper.DemoMapper">

    <sql id="BaseColumns">
        id, corpid, name, user_id, dep_id, comb, comb_multi, num_int, num_double, amount, date, time, file, image, address, creator_id, modify_id, del, add_time, update_time
    </sql>

    <sql id="BaseCondition">
        corpid = #{conditionMap.corpid}
        and del = 0
    </sql>

    <sql id="QueryTail">
        <if test="conditionMap.groupByStr != null and conditionMap.groupByStr != ''">
            group by ${conditionMap.groupByStr}
        </if>
        <if test="conditionMap.orderByStr != null and conditionMap.orderByStr != ''">
            order by ${conditionMap.orderByStr}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset != null">
            limit #{conditionMap.offset}, #{conditionMap.pageSize}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset == null">
            limit #{conditionMap.pageSize}
        </if>
    </sql>

    <insert id="insertBatch">
        insert into demo (
            id, corpid, name, user_id, dep_id, comb, comb_multi, num_int, num_double, amount, date, time, file, image, address, creator_id, modify_id, del, add_time, update_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.corpid}, #{item.name}, #{item.userId}, #{item.depId}, #{item.comb}, #{item.combMulti}, #{item.numInt}, #{item.numDouble}, #{item.amount}, #{item.date}, #{item.time}, #{item.file}, #{item.image}, #{item.address}, #{item.creatorId}, #{item.modifyId}, #{item.del}, #{item.addTime}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="removeById">
        update demo
        set del = 1
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <update id="removeBatchByIds">
        update demo
        set del = 1
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="xbb.ai.erp.module.demo.infrastructure.persistence.po.DemoPO">
        update demo
        <set>
            <if test="corpid != null">corpid = #{corpid},</if>
            <if test="name != null">name = #{name},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="depId != null">dep_id = #{depId},</if>
            <if test="comb != null">comb = #{comb},</if>
            <if test="combMulti != null">comb_multi = #{combMulti},</if>
            <if test="numInt != null">num_int = #{numInt},</if>
            <if test="numDouble != null">num_double = #{numDouble},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="date != null">date = #{date},</if>
            <if test="time != null">time = #{time},</if>
            <if test="file != null">file = #{file},</if>
            <if test="image != null">image = #{image},</if>
            <if test="address != null">address = #{address},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
            <if test="del != null">del = #{del},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <select id="findById" resultType="xbb.ai.erp.module.demo.infrastructure.persistence.po.DemoPO">
        select <include refid="BaseColumns"/>
        from demo
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </select>

    <select id="findByIds" resultType="xbb.ai.erp.module.demo.infrastructure.persistence.po.DemoPO">
        select <include refid="BaseColumns"/>
        from demo
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findByCondition" resultType="xbb.ai.erp.module.demo.infrastructure.persistence.po.DemoPO">
        select <include refid="BaseColumns"/>
        from demo
        where <include refid="BaseCondition"/>
        <if test="conditionMap.conditions != null and conditionMap.conditions.size() > 0">
            <foreach collection="conditionMap.conditions" item="c">
                <include refid="xbb.ai.erp.module.common.application.filter.CommonListFilterMapper.dynamicCondition"/>
            </foreach>
        </if>
        <include refid="QueryTail"/>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from demo
        where <include refid="BaseCondition"/>
        <if test="conditionMap.conditions != null and conditionMap.conditions.size() > 0">
            <foreach collection="conditionMap.conditions" item="c">
                <include refid="xbb.ai.erp.module.common.application.filter.CommonListFilterMapper.dynamicCondition"/>
            </foreach>
        </if>
    </select>
</mapper>
