<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.product.infrastructure.persistence.mapper.ProductSpuMapper">

    <resultMap id="ProductSpuResultMap" type="xbb.ai.erp.module.product.infrastructure.persistence.po.ProductSpuPO">
        <id property="id" column="id"/>
        <result property="corpid" column="corpid"/>
        <result property="spuCode" column="spu_code"/>
        <result property="spuName" column="spu_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="productType" column="product_type"/>
        <result property="enableSpec" column="enable_spec"/>
        <result property="description" column="description"/>
        <result property="imageUrl" column="image_url"/>
        <result property="enableStatus" column="enable_status"/>
        <result property="del" column="del"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="modifyId" column="modify_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, corpid, spu_code, spu_name, category_id, brand_id, product_type,
        enable_spec, description, image_url, enable_status, del, add_time, update_time, creator_id, modify_id
    </sql>

    <sql id="Condition_Where">
        <where>
            del = 0
            <if test="corpid != null and corpid != ''">
                AND corpid = #{corpid}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="spuCode != null and spuCode != ''">
                AND spu_code = #{spuCode}
            </if>
            <if test="spuName != null and spuName != ''">
                AND spu_name LIKE CONCAT('%', #{spuName}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                    spu_code LIKE CONCAT('%', #{keyword}, '%')
                    OR spu_name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <insert id="insert">
        INSERT INTO product_spu (
            id, corpid, spu_code, spu_name, category_id, brand_id, product_type,
            enable_spec, description, image_url, enable_status, del, add_time, update_time, creator_id, modify_id
        ) VALUES (
            #{id}, #{corpid}, #{spuCode}, #{spuName}, #{categoryId}, #{brandId}, #{productType},
            #{enableSpec}, #{description}, #{imageUrl}, #{enableStatus}, #{del}, #{addTime}, #{updateTime}, #{creatorId}, #{modifyId}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO product_spu (
            id, corpid, spu_code, spu_name, category_id, brand_id, product_type,
            enable_spec, description, image_url, enable_status, del, add_time, update_time, creator_id, modify_id
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id}, #{item.corpid}, #{item.spuCode}, #{item.spuName}, #{item.categoryId}, #{item.brandId}, #{item.productType},
                #{item.enableSpec}, #{item.description}, #{item.imageUrl}, #{item.enableStatus}, #{item.del}, #{item.addTime}, #{item.updateTime}, #{item.creatorId}, #{item.modifyId}
            )
        </foreach>
    </insert>

    <update id="removeById">
        UPDATE product_spu
        SET del = 1, modify_id = #{modifyId}, update_time = #{updateTime}
        WHERE corpid = #{corpid} AND id = #{id} AND del = 0
    </update>

    <update id="removeBatchByIds">
        UPDATE product_spu
        SET del = 1, modify_id = #{modifyId}, update_time = #{updateTime}
        WHERE corpid = #{corpid} AND del = 0
        <if test="ids != null and ids.size() > 0">
            AND id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <update id="update">
        UPDATE product_spu
        SET spu_code = #{spuCode},
            spu_name = #{spuName},
            category_id = #{categoryId},
            brand_id = #{brandId},
            product_type = #{productType},
            enable_spec = #{enableSpec},
            description = #{description},
            image_url = #{imageUrl},
            enable_status = #{enableStatus},
            modify_id = #{modifyId},
            update_time = #{updateTime}
        WHERE corpid = #{corpid} AND id = #{id} AND del = 0
    </update>

    <select id="findById" resultMap="ProductSpuResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_spu
        WHERE corpid = #{corpid} AND id = #{id} AND del = 0
    </select>

    <select id="findByCondition" resultMap="ProductSpuResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_spu
        <include refid="Condition_Where"/>
        <if test="groupByStr != null and groupByStr != ''">
            GROUP BY ${groupByStr}
        </if>
        <choose>
            <when test="orderByStr != null and orderByStr != ''">
                ORDER BY ${orderByStr}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and pageSize != null">
            LIMIT #{offset}, #{pageSize}
        </if>
        <if test="offset == null and pageSize != null">
            LIMIT #{pageSize}
        </if>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1)
        FROM product_spu
        <include refid="Condition_Where"/>
    </select>
</mapper>
