<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.product.infrastructure.persistence.mapper.ProductSkuMapper">

    <resultMap id="ProductSkuResultMap" type="xbb.ai.erp.module.product.infrastructure.persistence.po.ProductSkuPO">
        <id property="id" column="id"/>
        <result property="corpid" column="corpid"/>
        <result property="spuId" column="spu_id"/>
        <result property="skuCode" column="sku_code"/>
        <result property="skuName" column="sku_name"/>
        <result property="mnemonicCode" column="mnemonic_code"/>
        <result property="mainBarcode" column="main_barcode"/>
        <result property="specSignature" column="spec_signature"/>
        <result property="specSnapshot" column="spec_snapshot"/>
        <result property="canPurchase" column="can_purchase"/>
        <result property="canSale" column="can_sale"/>
        <result property="canInventory" column="can_inventory"/>
        <result property="canProduce" column="can_produce"/>
        <result property="enableStatus" column="enable_status"/>
        <result property="listingStatus" column="listing_status"/>
        <result property="weight" column="weight"/>
        <result property="volume" column="volume"/>
        <result property="extJson" column="ext_json"/>
        <result property="del" column="del"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="modifyId" column="modify_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, corpid, spu_id, sku_code, sku_name, mnemonic_code, main_barcode, spec_signature,
        spec_snapshot, can_purchase, can_sale, can_inventory, can_produce, enable_status,
        listing_status, weight, volume, ext_json, del, add_time, update_time, creator_id, modify_id
    </sql>

    <sql id="Condition_Where">
        <where>
            del = 0
            <if test="corpid != null and corpid != ''">
                AND corpid = #{corpid}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="spuId != null">
                AND spu_id = #{spuId}
            </if>
            <if test="skuCode != null and skuCode != ''">
                AND sku_code = #{skuCode}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                    sku_code LIKE CONCAT('%', #{keyword}, '%')
                    OR sku_name LIKE CONCAT('%', #{keyword}, '%')
                    OR mnemonic_code LIKE CONCAT('%', #{keyword}, '%')
                    OR main_barcode LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="canPurchase != null">
                AND can_purchase = #{canPurchase}
            </if>
            <if test="enableStatus != null">
                AND enable_status = #{enableStatus}
            </if>
        </where>
    </sql>

    <insert id="insert">
        INSERT INTO product_sku (
            id, corpid, spu_id, sku_code, sku_name, mnemonic_code, main_barcode, spec_signature,
            spec_snapshot, can_purchase, can_sale, can_inventory, can_produce, enable_status,
            listing_status, weight, volume, ext_json, del, add_time, update_time, creator_id, modify_id
        ) VALUES (
            #{id}, #{corpid}, #{spuId}, #{skuCode}, #{skuName}, #{mnemonicCode}, #{mainBarcode}, #{specSignature},
            #{specSnapshot}, #{canPurchase}, #{canSale}, #{canInventory}, #{canProduce}, #{enableStatus},
            #{listingStatus}, #{weight}, #{volume}, #{extJson}, #{del}, #{addTime}, #{updateTime}, #{creatorId}, #{modifyId}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO product_sku (
            id, corpid, spu_id, sku_code, sku_name, mnemonic_code, main_barcode, spec_signature,
            spec_snapshot, can_purchase, can_sale, can_inventory, can_produce, enable_status,
            listing_status, weight, volume, ext_json, del, add_time, update_time, creator_id, modify_id
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id}, #{item.corpid}, #{item.spuId}, #{item.skuCode}, #{item.skuName}, #{item.mnemonicCode}, #{item.mainBarcode}, #{item.specSignature},
                #{item.specSnapshot}, #{item.canPurchase}, #{item.canSale}, #{item.canInventory}, #{item.canProduce}, #{item.enableStatus},
                #{item.listingStatus}, #{item.weight}, #{item.volume}, #{item.extJson}, #{item.del}, #{item.addTime}, #{item.updateTime}, #{item.creatorId}, #{item.modifyId}
            )
        </foreach>
    </insert>

    <update id="removeById">
        UPDATE product_sku
        SET del = 1, modify_id = #{modifyId}, update_time = #{updateTime}
        WHERE corpid = #{corpid} AND id = #{id} AND del = 0
    </update>

    <update id="removeBatchByIds">
        UPDATE product_sku
        SET del = 1, modify_id = #{modifyId}, update_time = #{updateTime}
        WHERE corpid = #{corpid} AND del = 0
        <if test="ids != null and ids.size() > 0">
            AND id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <update id="removeBySpuId">
        UPDATE product_sku
        SET del = 1, modify_id = #{modifyId}, update_time = #{updateTime}
        WHERE corpid = #{corpid} AND spu_id = #{spuId} AND del = 0
    </update>

    <update id="update">
        UPDATE product_sku
        SET spu_id = #{spuId},
            sku_code = #{skuCode},
            sku_name = #{skuName},
            mnemonic_code = #{mnemonicCode},
            main_barcode = #{mainBarcode},
            spec_signature = #{specSignature},
            spec_snapshot = #{specSnapshot},
            can_purchase = #{canPurchase},
            can_sale = #{canSale},
            can_inventory = #{canInventory},
            can_produce = #{canProduce},
            enable_status = #{enableStatus},
            listing_status = #{listingStatus},
            modify_id = #{modifyId},
            update_time = #{updateTime}
        WHERE corpid = #{corpid} AND id = #{id} AND del = 0
    </update>

    <select id="findById" resultMap="ProductSkuResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE corpid = #{corpid} AND id = #{id} AND del = 0
    </select>

    <select id="findBySpuId" resultMap="ProductSkuResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        WHERE corpid = #{corpid} AND spu_id = #{spuId} AND del = 0
        ORDER BY id DESC
    </select>

    <select id="findByCondition" resultMap="ProductSkuResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM product_sku
        <include refid="Condition_Where"/>
        <if test="groupByStr != null and groupByStr != ''">
            GROUP BY ${groupByStr}
        </if>
        <choose>
            <when test="orderByStr != null and orderByStr != ''">
                ORDER BY ${orderByStr}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and pageSize != null">
            LIMIT #{offset}, #{pageSize}
        </if>
        <if test="offset == null and pageSize != null">
            LIMIT #{pageSize}
        </if>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1)
        FROM product_sku
        <include refid="Condition_Where"/>
    </select>
</mapper>
