<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xbb.ai.erp.module.masterdata.infrastructure.persistence.mapper.ProductSkuMapper">

    <sql id="BaseColumns">
        id, corpid, spu_id, sku_code, sku_name, specification, unit_name, sale_price, purchase_price, enabled, remark, creator_id, modify_id
    </sql>

    <sql id="BaseCondition">
        corpid = #{conditionMap.corpid}
        and del = 0
        <if test="conditionMap.id != null">
            and id = #{conditionMap.id}
        </if>
        <if test="conditionMap.spuId != null">
            and spu_id = #{conditionMap.spuId}
        </if>
        <if test="conditionMap.skuCode != null and conditionMap.skuCode != ''">
            and sku_code = #{conditionMap.skuCode}
        </if>
        <if test="conditionMap.skuName != null and conditionMap.skuName != ''">
            and sku_name = #{conditionMap.skuName}
        </if>
        <if test="conditionMap.unitName != null and conditionMap.unitName != ''">
            and unit_name = #{conditionMap.unitName}
        </if>
        <if test="conditionMap.enabled != null">
            and enabled = #{conditionMap.enabled}
        </if>
        <if test="conditionMap.keyword != null and conditionMap.keyword != ''">
            and (sku_code like concat('%', #{conditionMap.keyword}, '%')
                or sku_name like concat('%', #{conditionMap.keyword}, '%'))
        </if>
    </sql>

    <sql id="QueryTail">
        <if test="conditionMap.groupByStr != null and conditionMap.groupByStr != ''">
            group by ${conditionMap.groupByStr}
        </if>
        <if test="conditionMap.orderByStr != null and conditionMap.orderByStr != ''">
            order by ${conditionMap.orderByStr}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset != null">
            limit #{conditionMap.offset}, #{conditionMap.pageSize}
        </if>
        <if test="conditionMap.pageSize != null and conditionMap.pageSize > 0 and conditionMap.offset == null">
            limit #{conditionMap.pageSize}
        </if>
    </sql>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into product_sku (
            corpid, spu_id, sku_code, sku_name, specification, unit_name, sale_price, purchase_price, enabled, remark, creator_id, modify_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.corpid}, #{item.spuId}, #{item.skuCode}, #{item.skuName}, #{item.specification}, #{item.unitName}, #{item.salePrice}, #{item.purchasePrice}, #{item.enabled}, #{item.remark}, #{item.creatorId}, #{item.modifyId})
        </foreach>
    </insert>

    <update id="removeById">
        update product_sku
        set del = 1
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <update id="removeBatchByIds">
        update product_sku
        set del = 1
        where corpid = #{corpid}
          and del = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="xbb.ai.erp.module.masterdata.infrastructure.persistence.po.ProductSkuPO">
        update product_sku
        <set>
            <if test="corpid != null">corpid = #{corpid},</if>
            <if test="spuId != null">spu_id = #{spuId},</if>
            <if test="skuCode != null">sku_code = #{skuCode},</if>
            <if test="skuName != null">sku_name = #{skuName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
        </set>
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </update>

    <select id="findById" resultType="xbb.ai.erp.module.masterdata.infrastructure.persistence.po.ProductSkuPO">
        select <include refid="BaseColumns"/>
        from product_sku
        where corpid = #{corpid}
          and id = #{id}
          and del = 0
    </select>

    <select id="findByCondition" resultType="xbb.ai.erp.module.masterdata.infrastructure.persistence.po.ProductSkuPO">
        select <include refid="BaseColumns"/>
        from product_sku
        where <include refid="BaseCondition"/>
        <if test="conditionMap.conditions != null and conditionMap.conditions.size() > 0">
            <foreach collection="conditionMap.conditions" item="c">
                <include refid="xbb.ai.erp.module.common.application.filter.CommonListFilterMapper.dynamicCondition"/>
            </foreach>
        </if>
        <include refid="QueryTail"/>
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from product_sku
        where <include refid="BaseCondition"/>
        <if test="conditionMap.conditions != null and conditionMap.conditions.size() > 0">
            <foreach collection="conditionMap.conditions" item="c">
                <include refid="xbb.ai.erp.module.common.application.filter.CommonListFilterMapper.dynamicCondition"/>
            </foreach>
        </if>
    </select>
    <select id="findByIds" resultType="xbb.ai.erp.module.masterdata.infrastructure.persistence.po.ProductSkuPO">
        select <include refid="BaseColumns"/> from product_sku where corpid = #{corpid} and del = 0 and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>
</mapper>
